<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.docx4j.fonts.RunFontSelector" level="error" />
    <logger name="org.docx4j.fonts.PhysicalFonts" level="error" />
    <logger name="org.docx4j.convert.out.common.AbstractConversionContext" level="warn" />
    <logger name="org.docx4j.model.listnumbering.Emulator" level="warn" />
</configuration>